{% extends "base.html" %}
{% block content%}
<style>
    .full-height-row {
        height: 100vh;
        min-height: 100vh;
        display: flex; /* Important for making columns stretch within the row */
    }
    .my-left-panel{
        background-color: white;
        width: 36%;
    }
    .my-right-panel{
        background-color: #78b2bc;
    }
</style>

<div class="row full-height-row" style="height: 400px;">
    <div class="col-lg-4 col-md-6 my-left-panel">
       <div class="container justify-content-center">something</div>
       <img src="editedlogowithshadows.png">
    </div>
    <div class="col-lg-8 col-md-6 my-right-panel">

    </div>
</div>

{% endblock %}